/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* log-in */
  
  .log-in {
      display: flex;
      background-color: #f0f2f5;
      align-items: center;
      padding-bottom: 15%;
      padding-top: 13%;
  }

  .log-in-content {
      width: 50%;
      margin-bottom: 100px;
  }

  .log-in-content img {
      height: 106px;
      margin-left: 34%;
      width: 40%;
  }

  .log-in-content > h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: lighter;
      margin-right: 0px;
      margin-left: 38%;
      width: 70%;
      font-family: Arial, Helvetica, sans-serif;
  }

  /*form */

  .form-container {
      width: 50%;
      margin-left: 8%;
  }

  .form-container-content {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 396px;
    padding-bottom: 12px;
    padding-top: 14px;
  }

  .form-container-content input {
      width: 364px;
      font-size: 17px;
      line-height: 2;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .create-link {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 24px;
      margin-left: 50px;
      text-decoration: none;
  }

  .create-link > a {
      text-decoration: none;
      color: black;
  }
  .create-link > a:hover {
      text-decoration: underline;
  }

  /*footer*/
  
  .forget-link {
      color: #1877f2;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
  }
  .forget-link > a {
      text-decoration: none;
      color: #1877f2;
  }
  .forget-link > a:hover {
      text-decoration: underline;
  }

  /* footer lists*/
  .links {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 12px;
      line-height: 1.34;
      font-family: Arial, Helvetica, sans-serif;
  }

  .links li {
      margin-right: 15px;
      margin-bottom: 2px;
  }

  .links > a {
      color: #737373;
      text-decoration: none;
  }
  .links > a:hover {
      text-decoration: underline;
  }

  .footer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 25px;
      margin-left: 17%;
      margin-right: 22%;
  }

  .footer-p {
      color: #737373;
      line-height: 1.34;
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .icon {
    height: 11px;
    margin-left: 2px;
    align-items: center;
  }

  /*utilities*/

  .divider {
    border-top: 1px solid #ccc;
    width: 364px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 16px;
  }

  .divider-2 {
      border-top: 1px solid #737373;
      width: 100%;
      margin-top: 13px;
      margin-bottom: 13px;
  }

  .footer-btn {
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-left: -7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    color: #727272;
    font-weight: bold;
  }
  
  .btn {
    border: none;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 10px;
}

.btn-blue {
    background-color: #1877f2;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 364px;
}
.btn-blue:hover {
    background-color: #0e70f1;
}

.btn-green {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    background-color: #42b72a;
}

.btn-green:hover {
    background-color: #30b416;
}

