/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .log-in {
      display: flex;
      background-color: #f0f2f5;
      align-items: center;
      padding-bottom: 200px;
      padding-top: 200px;
  }

  .log-in-content {
      width: 50%;
  }

  .log-in-content img {
      height: 106px;
      width: 40%;
  }

  .log-in-content > h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: lighter;
      margin-right: 100px;
      margin-left: 28px;
      width: 500px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .form-container {
      width: 50%;
  }

  .form-container-content {
    border-radius: 8px;
    background-color: white;
    text-align: center;
    width: 396px;
    padding-bottom: 12px;
    padding-top: 10px;
  }

  .form-container-content input {
      width: 364px;
      font-size: 17px;
      line-height: 1.34;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .btn {
      border: none;
      border-radius: 6px;
      color: white;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      margin-top: 2px;
      margin-bottom: 10px;
  }

  .btn-blue {
      background-color: #1877f2;
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
      width: 364px;
  }

  .btn-green {
      font-weight: bold;
      font-size: 17px;
      line-height: 30px;
      background-color: #42b72a;
  }